#ignored files
config.json
test.js
test_server.ps1
StellaDb.sqlite
ServerSplit.sql

#ignored directories
logs/
.idea/

#ignored files in the core
Stella.Core/commands/testing/
Stella.Core/examples
Stella.Core/misc/Dosis
Stella.Core/Database/Backups
snap
Stella.Core/misc/images/custom/*
node_modules/*

#unignored images
!Stella.Core/misc/images/custom/.gitkeep