#ignored files
config.json
test.js
test_server.ps1
database.sqlite

#ignored directories
logs/
.idea/

#ignored files in the core
Esdeath.Core/commands/testing/
Esdeath.Core/Database/*
!Esdeath.Core/Database/dbObjects/*

#ignored node_modules
node_modules/*